<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unix</title>
    <link rel="stylesheet" href="unix_aset/main.css">
</head>
<body>
    <div class="main_div">
        <div class="pading">
            <p class="main_text">Security Hub</p>
            <p class="text_main">Data server for download file outside app</p>
            <br>
            <p class="text">On this page, you can download a file that was previously uploaded to the server. To access the file, you will need the password that was set during the download.</p>
            <br><br>
            <div class="main_main_div">
                <input class="input" placeholder="Code file" type="text">
                <button class="button" onclick="send_data()">Send data</button>
            </div>
            <br><br>
            <p class="text"><span class="main_color">Recommendation:</span> Make sure you enter the correct password, as the file will be automatically deleted after the storage time has expired.</p>
            <br>
            <p class="text"><span class="main_color">Note:</span> If you have problems accessing or downloading files, contact your system administrator.</p>
        </div>
    </div>
</body>
<script src="unix_aset/jquery.min.js"></script>
<script src="unix_aset/main.js"></script>
</html>
