<!-- app_front_end/templates/html/antivirus/site.html -->

<br>
<input class="dvwe5tgg" id="fkwe9203f" placeholder="URL сайту" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="text">
<br>
<button onclick="window.artivirusweb.antivirus_web_start()" id="antivirus_894534ffvvv" class="dwwccv7u3jf">Перевірити</button>
<br><br>
<div id="dq13892r2323233313" class="dwdwffff2">
    <div class="padoge">
        <p id="dwdefw4f4" class="dqwwee333f"></p>
        <p id="we31f3qecsdx13rv" class="ge4resdx"><span class="grean_1" id="ewfsdt4w43tgfd321"></span><span class="read" id="ewfsdt4w43tgfd3211"></span></p>
        <p id="we31f3qecsdx13rv1" class="ge4resdx"><span id="dwdefw4f4ewqe"></span></p>
        <p id="we31f3qecsdx13rv2" class="ge4resdx"><span id="qefwfvd244ttff"></span></p>
    </div>
</div>
