* text=auto

web_external/site/static/css/*.css linguist-documentation
web_external/site/static/*.js linguist-documentation

web_external/installer/lib/*.h linguist-documentation
web_external/installer/lib/*.cc linguist-documentation
web_external/installer/lib/*.i linguist-documentation
 
web/static/jquery.min.js linguist-documentation
web/static/css/*.css linguist-documentation

core_sorse/shell_web_NM1/webview.h linguist-documentation