<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <br>
            <h1 class="wedn77382bd3i2">Антивірус тип роботи</h1>
            <br>
            <div class="fewfedddd">
                <div id="dwdc21e12d" class="dwqdwcccc2">Перевірити сайт</div>
                <div id="dwdc21e12d1" class="dwqdwcccc2">Перевірити файл</div>
            </div>
            <br>
            <div class="dqwdwec9923ed">
                <div class="padoge">
                    <input class="dvwe5tgg" id="fkwe9203f" placeholder="URL сайту" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="text">
                    <br>
                    <button onclick="ewffef4f()" class="dwwccv7u3jf">Перевірити</button>
                    <br><br>
                    <div id="dqdcew336g" class="dwdwffff2 padoge">
                        <p id="dwdefw4f4" class="dqwwee333f"></p>
                        <br>
                        <p class="dd223dfwef" id="dw93244444"></p>
                        <br>
                        <p>Попередження</p>
                        <br>
                        <div class="weirwnofqwd_w padoge">
                            <ul id="dwdw3333rffcc" class="ew54tgtrbb"></ul>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn3");
        button_active_antivitys("dwdc21e12d")

        $('#dqdcew336g').hide(); 
    </script>
</html>