<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
                <div class="wddxxq">
                    <div class="system_div_os"><img class="img_os" src="/static/img/1.png"></div>
                    <div class="div_system_info"><div id="sifewfewx" class="padoge"></div></div>
                </div>
                <div class="imfowdwqdd">
                        <div id="trhragr" class="padoge">
                            <div id="dwqwdwfcfff44" class="wefewfvgg4"></div>
                            <div id="rggwiovnewcee" class="wefewfvgg4"></div>
                            <br><br><br>
                            <div class="qdwfwfecc">
                                <p class="dwqqttgttbb1">Імя компютера: </p><span id="adqwdwxxxx"></span><br><br>
                                <p class="dwqqttgttbb1">Версія операційної системи: </p><span id="qwefsbsfb"></span><br><br>
                                <p class="dwqqttgttbb1">Інформаця процесора: </p><span id="efwfwefwegwecc"></span><br><br>
                                <p class="dwqqttgttbb1">Системна память: </p><span id="fewffefevrewew"></span><br><br>
                                <p class="dwqqttgttbb1">Час роботи систем: </p><span id="gwghyjyyjy"></span><br><br>
                                <p class="dwqqttgttbb1">імя користувача: </p><span id="retrevvvvde"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn2");
        dw3fw3();
        setInterval(redsgdff, 1000);
        setInterval(dw3fw31, 1000);
    </script>
</html>