<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <br>
            <h1 class="wedn77382bd3i2">Шифрування тип роботи</h1>
            <br>
            <div class="fewfedddd">
                <div onclick="di3rwufnv(0, 'dwdc21e12d')" id="dwdc21e12d" class="dwqdwcccc2">Перевірити сайт</div>
                <div onclick="di3rwufnv(1, 'dwdc21e12d1')" id="dwdc21e12d1" class="dwqdwcccc2">Перевірити файл</div>
            </div>
            <br>
            <div id="frg45th9nd">
                <div class="padoge">
                    <form class="form">
                        <label class="form__container" id="upload-container">Виберіть або перекиньте файл<input class="form__file" id="file_dwqdw" type="file" multiple="multiple"/></label>
                        <div id="files-list-container"></div>
                    </form>
                    <button onclick="rtrtrtrtrttf()" class="fweufweffff">Відправити</button>
                    <div id="errewfffee" class="dwdwffff22 padoge"></div>
                </div>
            </div>
            <div id="frg45th9nd1">
                <div class="padoge">
                    d
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn5");
        $('#frg45th9nd').hide(); 
        $('#frg45th9nd1').hide(); 
        di3rwufnv(0, "dwdc21e12d")

        $('#dqdcew336g').hide(); 

        fileUpload_1();
    </script>
</html> 