$orange: #ff8a2a;
$grean: #54fea6;
$read: #ff5c5c;
$blue: #506aff;

$bg_color: #17181f;
$bg_color1: #111218;
$bg_color2: #1e202a;
$bg_color3: #232431;
$bg_color4: #1d1e27;
$bg_color5: #121318;

$null: #ffffff00;
$text_color: #ffffffd4;