$orange: #ff8a2a;
$grean: #55c959;
$read: #ff5c5c;
$blue: #506aff;

$bg_color: #17181f;
$bg_color1: #20252c;
$bg_color2: #20252c;
$bg_color3: #20252c;
$bg_color4: #20252c;
$bg_color5: #20252c;

$null: #ffffff00;
$text_color: #ffffffd4;