$orange: #ff8a2a;
$grean: #37cc34;
$read: #ff5c5c;
$blue: #506aff;
$white: #fff;

$bg_color: #26262e;
$bg_color1: #222128;
$bg_color2: #1b1a1f;
$bg_color3: #12171e;
$bg_color4: #181d25;

$null: #ffffff00;
$text_color: #ffffffa5;
$null_bleck: rgba(0, 0, 0, 0.3);