$orange: #ff8a2a;
$grean: #37cc34;
$read: #ff5c5c;
$blue: #506aff;
$violet: #766aff;
$white: #fff;

$bg_color: #1b1c30;
$bg_color1: #32344d;
$bg_color2: #22223a;
$bg_color3: #565574;
$bg_color4: #181d25;

$null: #ffffff00;
$text_color: #ffffffa5;
$null_bleck: rgba(0, 0, 0, 0.3);