@use 'config';
@use 'mixin';

@font-face {
    font-family: 'MyCustomFont';
    src: url('http://localhost/static/Minecraft_1.1.ttf') format('truetype');
}

body {
    background-color: config.$bg_color3;
    font-family: 'MyCustomFont', sans-serif;
    color: config.$text_color;
}

a {color: config.$text_color;}

* {
    margin: 0;
    padding: 0;
    font-family: 'MyCustomFont', sans-serif;
}

a {
    color: config.$text_color;
    text-decoration: none;
}

.menu {
    position: fixed;
    height: 50px;
    width: calc(100% - 400px);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: config.$bg_color4;
    box-shadow: 0 4px 20px config.$null_bleck;
    z-index: 1000000000000;
}

.efw42f{
    position: relative;
    float: left;
    margin-right: 20px;
    font-size: 16px;
    color: config.$text_color;
    left: 20px;
    top: 14px;
    cursor: pointer;

    &:hover{color: config.$violet;}
}

.w3fwe{
    width: calc(100% - 400px);
    position: relative;
    display: block;
    margin: 0 auto;
}

.dwqs322v {
    position: relative;
    float: left;
    width: 430px;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 20px;
    color: #ffffffd4; 
}

.dq3dcccc{
    font-size: 22px;
    color: config.$violet;
}

.cover1212 {
    display: inline-block;
    height: 310px;
    width: 310px;
    border-radius: 8px;
}

.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%; 
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

.atvImg-shadow {
	position: absolute;
	top: 5%; 
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	border-radius: 8px;
}

.dqwwqdcccc{
    position: relative;
    float: right;
    left: -140px;
}

.rrggef {
    position: relative;
    clear: both;
    width: calc(100% - 400px);
    display: block;
    margin: 0 auto;
}

.dqd2323{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: config.$ump;
}

.dqwd23d3ff{
    position: relative;
    float: left;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 80%;
}

.fwf32rggg{
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 8px;
}

.d3232f4ff{
    border: none;
    padding: 10px;
    font-size: 19px;
    color: config.$violet;
    cursor: pointer;
    background-color: config.$bg_color4;
    float: left;
    margin-right: 40px;
    border: solid 2px config.$null;

    &:hover{border: solid 2px config.$violet;}
}

.dewd3ef{color: config.$violet;}

.dwwd3d4{
    color: config.$violet;
    @include mixin.text_decoration();

    &:hover {opacity: 0.5;}
}

.dwqs322v1 {
    position: relative;
    float: right;
    width: 430px;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 22px;
    color: #ffffffd4;
    left: -140px; 
}

.dqwwqdcccc1{
    position: relative;
    float: left;
}

.bfievfdwere{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: config.$bg_color4;
    overflow-y: auto;
    overflow-x: none;
}

.wedwffcsd{padding: 20px;}

.cwd23103100c{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.e46fetgr{
    color: config.$violet;
    font-size: 19px;
}

.dqw32wert54eg{
    color: #fff;
    font-size: 17px;
}

#myInput{
    border: none;
    padding: 6px;
    font-size: 15px;
    color: #fff;
    background-color: config.$bg_color4;
    margin-bottom: 10px;

    &:focus {
        outline: none;
        color: config.$violet;
    }
}

#myTextarea{
    border: none;
    padding: 6px;
    font-size: 16px;
    color: #fff;
    background-color: config.$bg_color4;
    width: 400px;
    height: 150px;

    &:focus {
        outline: none;
        color: config.$violet;
    }
}

#sendButton{
    border: none;
    padding: 7px;
    font-size: 16px;
    color: #fff;
    background-color: config.$bg_color4;
    border: solid 2px config.$null;
    cursor: pointer;

    &:hover {
        border: solid 2px config.$violet;
        color: config.$violet;
    }

    &:focus {outline: none;}
}

.style_dqw{
    position: relative;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 7px;
    background-color: config.$bg_color4;

    button {
        border: none;
        border: solid 2px config.$null;
        background-color: config.$bg_color3;
        color: #fff;

        padding: 5px;
        font-size: 15px;
        cursor: pointer;


        &:hover {
            color: config.$violet;
            border: solid 2px config.$violet;
        }
    }
}

.dq3233rrffff{
    color: #fff;
    font-size: 15px;
}

.dqd313qe3qdw22{
    font-size: 18px;
    color: config.$violet;
    @include mixin.text_decoration();
}

@media (max-width: 1270px) {
    .menu {width: 95%;}
    .w3fwe{width: 95%}
    .rrggef {width: 95%;}
    .dqwwqdcccc{left: -80px;}
    .dwqs322v1{left: -80px;}
}

@media (max-width: 795.2px) {
    .dwqs322v,
    .dwqs322v1 {margin-bottom: 20px;}

    .dqwwqdcccc {
        float: left;
        left: 0px;
    }

    .dwqs322v1 {
        left: 0px;
        float: left;
    }
}

@media (max-width: 600px) {
    .menu {height: 100px;}
    .efw42f {margin-bottom: 10px;}
}

@media (max-width: 480px) {
    .dwqs322v {
        width: 350px;
        font-size: 17px;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    #myTextarea {width: 300px;}
}

@media (max-width: 350px) {
    .dwqs322v {
        width: 250px;
    }
}

.rrrr23r2vvvvv {
    color: config.$violet;
    font-size: 22px;
}
