<!-- app_front_end/templates/html/antivirus/background.html -->

<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p id="h3ruiwefer24f" class="name_system"></p>
        <br>
        <p id="fewrvw243rgefvcc" class="white"></p>
    </div>
</div>
<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p id="vbs612dwes655" class="name_system"></p>
        <br>
        <p id="vb92354gu04ttg" class="white"></p>
        <br>
        <p id="vb92354gu04ttg1" class="orang"></p>
        <br><br>
        <button id="bg_dqwderfd" onclick="flash_run()" class="ump_button1"></button>
    </div>
</div>