/* module/system/web/static/css/main.css */

.file_system_div_select {
  font-size: 13px;
  position: relative;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: #2d2d3d;
}
.file_system_div_select p {
  position: relative;
  float: left;
  margin-right: 5px;
}

.file_system_del_div {
  position: relative;
  float: left;
  padding: 2px;
  background-color: #ff5c5c;
  color: #000000;
  cursor: pointer;
}

.extension_select {
  position: relative;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.top_10_extension {
  position: relative;
  margin-bottom: 10px;
}
.top_10_extension span1 {
  color: #697ffe;
}
.top_10_extension span2 {
  color: #ff9c4c;
}
.top_10_extension span3 {
  color: #fff;
}
.top_10_extension span1,
.top_10_extension span2,
.top_10_extension span3 {
  margin-right: 10px;
}

.select_ext {
  margin-bottom: 10px;
}

#ndwe8rfier {
  font-size: 14px;
}

#sifewfewx .div_wifi_all .name_wifi_div_all {
  color: #fff !important;
}

.hr_div {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: rgba(208, 208, 208, 0.3960784314);
  bottom: 0px;
}

.div_info_os {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

.name_o {
  position: relative;
  float: left;
  color: #fff;
  font-size: 14px;
}

.name_system {
  font-size: 16px;
  color: #68ff9d;
}

.desc_o,
.desc_o_1,
.desc_o_2,
.desc_o_3 {
  position: absolute;
  left: 30%;
  color: #fff;
}
.desc_o span,
.desc_o_1 span,
.desc_o_2 span,
.desc_o_3 span {
  color: #68ff9d;
}

.desc_o_1 {
  left: 50%;
}

.desc_o_2 {
  left: 80%;
}

.desc_o_3 {
  left: 75%;
}

.div_system_info {
  position: relative;
  background-color: #181822;
  width: calc(100% - 20px);
  height: 350px;
  overflow-y: auto;
}
.div_system_info span {
  position: relative;
  top: 20px;
  left: 20px;
}

.imfowdwqdd {
  position: relative;
  background-color: #181822;
  width: calc(100% - 20px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}
