@font-face {
  font-family: 'MyCustomFont';
  src: url("../Minecraft_1.1.ttf") format("truetype"); }

body {
  background-color: #121212;
  font-family: 'MyCustomFont', sans-serif;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden; }

a {
  color: #fff; }

.white {
  color: #fff; }

.sin {
  color: #ffffff00; }

h2 {
  color: #fff; }

label {
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont', sans-serif; }

a {
  color: #fff;
  text-decoration: none; }

.console {
  position: absolute;
  float: right;
  height: 200px;
  bottom: 10px;
  right: 10px;
  width: calc(100% - 400px);
  background-color: #181818;
  padding: 10px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: auto;
  display: none; }

.name_page {
  font-size: 20px;
  color: #fff; }

.description_page {
  font-size: 17px;
  color: #fff; }

.grean_1 {
  color: #68ff9d; }

.read {
  color: #ff5c5c; }
