<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
                <div class="about_div">
                    <p class="about_tetx_main">Security Hub</p>
                    <br>
                    <p class="about_desc_p">Виявлення загроз:</p>
                    <ul class="about_desc_text">
                        <li>Використовує сигнатури шкідливих програм для виявлення відомих загроз.</li>
                        <li>Здатний виявляти нові загрози завдяки інтеграції з базами даних шкідливих програм.</li>
                        <li>Використовує різноманітні техніки, такі як поведінковий аналіз і евристичні методи, для виявлення невідомих або модифікованих шкідливих програм.</li>
                    </ul>
                    <br>
                    <p class="about_desc_p">Інтерфейс користувача:</p>
                    <ul class="about_desc_text">
                        <li>Програмне забезпечення може мати зручний інтерфейс для кінцевих користувачів або адміністраторів, де можна налаштовувати різні параметри сканування, оновлень баз даних, перевірок і моніторингу системи.</li>
                    </ul>
                    <br>
                    <p class="about_desc_p">Оновлення та підтримка:</p>
                    <ul class="about_desc_text">
                        <li>Регулярно оновлює бази даних сигнатур шкідливих програм для виявлення нових загроз.</li>
                        <li>Забезпечує постійну підтримку у вигляді патчів і оновлень для забезпечення високої ефективності та актуальності захисту.</li>
                    </ul>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn7");
    </script>
</html>