<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
            <br>
            <p class="name_page">WIFI management</p>
            <p class="description_page">Get more information about yours WIFI</p>
            <br>
            <div class="fewfedddd">
                <div onclick="change_menu_antivirus(0)" id="dwdc21e12d" class="dwqdwcccc2">Перевірити сайт</div>
                <div onclick="change_menu_antivirus(1)" id="dwdc21e12d1" class="dwqdwcccc2">Перевірити файл</div>
                <div onclick="change_menu_antivirus(2)" id="dwdc21e12d2" class="dwqdwcccc2">На фоні</div>
            </div>
            <br>
            <div class="dqwdwec9923ed">
                <div id="frg45th9nd">
                    {{template "site.html" .}}
                </div>
                <div id="frg45th9nd1">
                    {{template "file.html" .}}
                </div>
                <div id="frg45th9nd2">
                    {{template "background.html" .}}
                </div>
            </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn3");
        $('#frg45th9nd').hide(); 
        $('#frg45th9nd1').hide(); 
        change_menu_antivirus(0)

        $('#dqdcew336g').hide(); 

        fileUpload();
        config_bg();
    </script>
</html>