<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
                <br>
                <p id="vc728i32000" class="name_page"></p>
                <p id="bvh9iuweddd" class="description_page"></p>
                <br>
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <p class="name_system">Інформація очистки</p>
                        <ul class="dqfeffggg">
                            <li>Очищення DNS та ARP-таблиць</li>
                            <li>Журнали файлової системи</li>
                            <li>Видалення історії відкритих шляхів</li>
                            <li>Очищення інтернет-кешу</li>
                            <li>Видалення специфічних файлів</li>
                            <li>Видалення тимчасових файлів, кешу та логів</li>
                        </ul>
                        <br>
                        <button class="deccc" onclick="cleanup()">Очистити компютер</button>
                    </div>
                </div>
                <br>
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <p class="name_system">Додаткові налаштування</p>
                        <br>
                        <p class="toggle-btn">Видалити резервні копії Windows</p>
                        <div class="dropdown-content" id="dropdown1">
                            <p>Налаштування "Видалити резервні копії Windows" видаляє збережені резервні копії системи, які створювалися для відновлення Windows у випадку збою або втрати даних. Резервні копії можуть включати зображення системи (системні копії), точки відновлення, а також автоматичні архіви файлів.</p>
                            <br>
                            <button class="ump_button" data-data="backup">Встановити</button>
                        </div>
                        <div class="hr_div1"></div>
                        <br><br>
                        <p class="toggle-btn">Видалити всі профілі Wi-Fi</p>
                        <div class="dropdown-content">
                            <p>Налаштування "Видалити всі профілі Wi-Fi" призведе до видалення збережених профілів бездротових мереж, до яких підключався ваш пристрій.</p>
                            <br>
                            <button class="ump_button" data-data="wifi">Встановити</button>
                        </div>
                        <div class="hr_div1"></div>                   
                        <br><br>
                        <p class="toggle-btn">Видалити налаштування підключення до віддаленого робочого столу.</p>
                        <div class="dropdown-content">
                            <p>Налаштування "Видалити налаштування підключення до віддаленого робочого столу" видаляє збережені конфігурації та історію підключень до віддалених робочих столів. </p>
                            <br>
                            <button class="ump_button" data-data="desktop">Встановити</button>
                        </div>
                        <div class="hr_div1"></div>
                        <br><br>
                        <p class="toggle-btn">Перезапустити командний процесор doskey</p>
                        <div class="dropdown-content">
                            <p>
                                Налаштування "Перезапускає командний процесор doskey" оновлює роботу командного процесора doskey
                                <br><br>
                                Перезапуск doskey очищає історію команд та скидає всі визначені макроси. Це може бути корисним для скидання середовища командного рядка до початкового стану.
                            </p>
                            <br>
                            <button class="ump_button" data-data="doskey">Встановити</button>
                        </div>
                        <div class="hr_div1"></div>     
                    </div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        change_lang_now();
        button_hover("btn4");
    </script>
</html>