<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        <div class="main_div">
            <br>
            <p id="bnoewfcc_i033e" class="name_page"></p>
            <p id="bvoif2032991367" class="description_page"></p>
            <br>
            <br>
            <div class="fewfedddd">
                <div onclick="change_menu_antivirus(0, 'dwdc21e12d')" id="dwdc21e12d brbtedfe4443" class="dwqdwcccc2"></div>
                <div onclick="change_menu_antivirus(1, 'dwdc21e12d1')" id="dwdc21e12d1" class="dwqdwcccc2"></div>
            </div>
            <br>
            <div id="frg45th9nd">
                <div class="padoge">
                    <form class="form">
                        <label class="form__container" id="upload-container">Select or drop a file<input class="form__file" id="file_dwqdw" type="file" multiple="multiple"/></label>
                        <div id="files-list-container"></div>
                    </form>
                    <button onclick="encryption_file_start()" class="fweufweffff vb0f0234456465"></button>
                    <div id="errewfffee" class="dwdwffff22 padoge"></div>
                </div>
            </div>
            <div id="frg45th9nd1">
                <div class="padoge">
                    <form class="form">
                        <label class="form__container" id="upload-container">Select or drop a file<input class="form__file" id="file_dwqdw1" type="file" multiple="multiple"/></label>
                        <div id="files-list-container"></div>
                        <input id="cwwzevbnnn" class="ddwdcvvvwwqsz" type="text">
                        <div onclick="decipher_file()" class="thnnredf vb0f0234456465"></div>
                    </form>
                    <div id="bbbnsqee343" class="dwdwffff22 padoge"></div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/encryption.js"></script>
    <script>
        $('#frg45th9nd').hide(); 
        $('#frg45th9nd1').hide(); 
        change_menu_antivirus(0, "dwdc21e12d")

        $('#dqdcew336g').hide(); 
        change_lang_now(0);

        fileUpload_1();
        fileUpload_2();
    </script>
</html> 

