<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
       <style id="style_dudqdc"></style>
   </head>
   <body>
        <div class="main_div">
           <br>
           <div class="imfowdwqdd">
                <div class="padoge">
                    <h2>Налаштування</h2>
                    <br>
                    <input type="text" id="file_stystem_dwqdasz">
                    <button onclick="add_div()">dddd</button>
                    <div id="extension_select">

                    </div>
                </div>
            </div>
            <br>
           <div class="imfowdwqdd">
                <div class="padoge">
                    <div class="chart-container">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/jquery.min.js"></script>
    <script src='/static/chart.min.js'></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/file_system.js"></script>
    <script>
        change_lang_now(0);
    </script>
</html>