<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Hub</title>
</head>
<body>
    {{template "menu.html" .}}
</body>
</html>
