<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
                <div class="img_wifi">
                    <p id="wifi_nama_now" class="main_text_wifi"></p>
                </div>
                <br>
                <div class="div_wifi_info">
                    <div class="padoge">
                        <p class="info_wifi_">ssid: <span id="name_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">authentication: <span id="authentication_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">description: <span id="description_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">guid: <span id="guid_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">physical_address: <span id="physical_address_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">radio_type: <span id="radio_type_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">signal_strength: <span id="signal_strength_wifi" class="info_graan"></span></p>
                        <p class="info_wifi_">state: <span id="state_wifi" class="info_graan"></span></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="modal2"> 
            <div class="modal-content2">
                <span class="close" onclick="clos('modal2')">&times;</span>
                <p class="modal_main_tetx">Створення карти</p>
                <input id="name" type="text">
                <button onclick="create_prg_map()">ddddd</button>
            </div>
        </div> 

   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn1");
        get_data_wifi_now();
    </script>
</html> 