<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
       <style id="style_dudqdc"></style>
   </head>
   <body>
        <div class="main_div">
            <br>
            <p id="lang_system_vfd8723ed" class="name_page"></p>
            <p id="lang_system_verdfvcww" class="description_page"></p>
            <br>
            <div class="imfowdwqdd">
                <div class="padoge">
                    <h1>Завантаження файлу</h1>
                    <form action="http://localhost:3000/upload" method="POST" enctype="multipart/form-data">
                      <label for="file">Файл:</label>
                      <div class="file-input-container">
                        <input type="file" name="file" id="file" required>
                        <label for="file" class="file-input-button">Вибрати файл</label>
                      </div>
                      <label for="password">Пароль:</label>
                      <input type="text" name="password" id="password" required><br><br>
                      <button type="submit">Завантажити</button>
                    </form>
                    
                    <h1>Знайти файл за паролем</h1>
                    <form action="http://localhost:3000/search" method="POST">
                      <label for="searchPassword">Пароль:</label>
                      <input type="text" name="searchPassword" id="searchPassword" required><br><br>
                      <button type="submit">Знайти файл</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="imfowdwqdd">
                <div class="padoge">

                </div>
            </div>
            <br>
        </div>
    </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/server.js"></script>
    <script>
        change_lang_now(0);
    </script>
</html>