<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        <div class="main_div">
            <br>
            <p id="ev23weswe232f223e" class="name_page"></p>
            <p id="fwe34357554ttr" class="description_page"></p>
            <br>
            <div class="settings_div">
                <p id="bv92021dqdskx" class="settings_main_tetx"></p>
                <br>
                <button onclick="change_shell(true, 'visualization1')" id="visualization1" class="button_settings"></button>
                <button onclick="change_shell(false, 'visualization2')" id="visualization2" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="bc0wjcw_o" class="settings_main_tetx"></p>
                <br>
                <p id="bc921328dhaaaa"></p>
                <br>
                <p id="bc929d20221111"></p>
                <br>
                <a href="/off_app"><button class="vbwe8b2_btn" id="vcwdwqd77777777"></button></a>
                <button onclick="open_site()" id="duw1291291e12fq" class="zxbnmewd1"></button>
                <br>
            </div>
            <div class="settings_div">
                <p id="nc000092731" class="settings_main_tetx"></p>
                <br>
                <button onclick="button_settings_change('1', '/log_change')" id="vsgretdbgc1" class="button_settings"></button>
                <button onclick="button_settings_change('0', '/log_change')" id="vsgretdbgc2" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="c093efw4fwc2322323rfvv" class="settings_main_tetx"></p>
                <br>
                <input id="ssdfredfgettt" class="saert45trgf" type="text">
                <button onclick="input_settings_change('ssdfredfgettt', 'port_change')" class="zxbnmewd"></button>
                <br><br>
                <p id="bv09209092922"></p>
                <br>
            </div>
            <div class="settings_div">
                <p id="nv99121222221" class="settings_main_tetx"></p>
                <br>
                <button onclick="button_settings_change('0', '/shell_change')" id="shell_NM" class="button_settings">NM1</button>
                <button onclick="button_settings_change('1', '/shell_change')" id="shell_NM1" class="button_settings">NM2</button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="bv902u12222225555" class="settings_main_tetx"></p>
                <br>
                <button onclick="change_lang_all('en')" id="setingss_vdwewe" class="button_settings">English</button>
                <button onclick="change_lang_all('uk')" id="setingss_vdwewe1" class="button_settings">Українська</button>
                <br><br>
            </div>
            <div class="settings_div">
                <p class="settings_main_tetx">Використання слитів</p>
                <br>
                <button onclick="button_settings_change('1', '/shell_change')" id="vvw2311323ferererg3g3g3" class="button_settings">Використовувати</button>
                <button onclick="button_settings_change('0', '/shell_change')" id="vvw2311323ferererg3g3g31" class="button_settings">Не використовувати</button>
                <br><br>
            </div>
            <br><br><br><br>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/settings.js"></script>
    <script>
        change_lang_now(0);
        getConfig();
    </script>
</html>
