<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
   </head>
   <body>
        {{template "menu.html" .}}
        {{template "console.html" .}}
        <div class="main">
            <div class="main_div">
                <br>
                <p class="name_page">System management</p>
                <p class="description_page">Get more information about yours system</p>
                <br>
                <div class="wddxxq">
                    <div class="system_div_os"><img class="img_os" src="/static/img/1.png"></div>
                    <div class="div_system_info"><div id="sifewfewx" class="padoge"></div></div>
                </div>
                <div class="imfowdwqdd">
                        <div id="trhragr" class="padoge">
                            <div id="dwqwdwfcfff44" class="wefewfvgg4"></div>
                            <div id="rggwiovnewcee" class="wefewfvgg4"></div>
                            <br><br><br><br>
                            <p class="name_system">Data os</p>
                            <br>
                            <div id="ddcbnxcew33333"></div>
                            <br>
                            <p class="name_system">library data</p>
                            <div id="ndwe8rfier"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/let.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/keydown.js"></script>
    <script src="/static/js/ready.js"></script>
    <script>
        button_hover("btn2");
        get_os_data();
        setInterval(resource_info, 1000);
        setInterval(window_open, 2000);
    </script>
</html>
