<!-- app_front_end/templates/settings.html -->

<html style="height: 100%"></html>
<head>
    <meta charset="utf-8">
    <title>SPX</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <style id="style_dudqdc"></style>
</head>
<body>
    <div class="main_div">
        <br>
        <p id="ev23weswe232f223e" class="name_page"># <span></span></p>
        <p id="fwe34357554ttr" class="description_page"></p>
        <br>
        <div class="fewfedddd">
            <div onclick="change_menu_page(0, 0)" id="settings_1_btn_page" class="dwqdwcccc2"></div>
            <div onclick="change_menu_page(0, 1)" id="settings_1_btn_page1" class="dwqdwcccc2"></div>
            <div onclick="change_menu_page(0, 2)" id="settings_1_btn_page2" class="dwqdwcccc2"></div>
        </div>
        <br>
        <div id="section_1">
            <div class="settings_div">
                <p id="bv92021dqdskx" class="settings_main_tetx"></p>
                <br>
                <button onclick="change_shell(true, 'visualization1')" id="visualization1" class="button_settings"></button>
                <button onclick="change_shell(false, 'visualization2')" id="visualization2" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="bc0wjcw_o" class="settings_main_tetx"></p>
                <br>
                <p id="bc921328dhaaaa"></p>
                <br>
                <p id="bc929d20221111"></p>
                <br>
                <a href="/off_app"><button class="vbwe8b2_btn" id="vcwdwqd77777777"></button></a>
                <button onclick="open_site()" id="duw1291291e12fq" class="zxbnmewd1"></button>
                <br>
            </div>
            <div class="settings_div">
                <p id="nc000092731" class="settings_main_tetx"></p>
                <br>
                <button onclick="button_settings_change('1', '/log_change')" id="vsgretdbgc1" class="button_settings"></button>
                <button onclick="button_settings_change('0', '/log_change')" id="vsgretdbgc2" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="c093efw4fwc2322323rfvv" class="settings_main_tetx"></p>
                <br>
                <input id="ssdfredfgettt" class="saert45trgf" type="text">
                <button onclick="input_settings_change('ssdfredfgettt', 'port_change')" class="zxbnmewd"></button>
                <br><br>
                <p id="bv09209092922"></p>
                <br>
            </div>
            <div class="settings_div">
                <p id="nv99121222221" class="settings_main_tetx"></p>
                <br>
                <button onclick="button_settings_change('0', '/shell_change')" id="shell_NM" class="button_settings">NM1</button>
                <button onclick="button_settings_change('1', '/shell_change')" id="shell_NM1" class="button_settings">NM2</button>
                <button onclick="button_settings_change('2', '/shell_change')" id="shell_NM2" class="button_settings">NM3</button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="bv902u12222225555" class="settings_main_tetx"></p>
                <br>
                <button onclick="change_lang_all('en')" id="setingss_vdwewe" class="button_settings">English</button>
                <button onclick="change_lang_all('uk')" id="setingss_vdwewe1" class="button_settings">Українська</button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="vwf3c3fcew0823qe2k" class="settings_main_tetx"></p>
                <br>
                <button onclick="button_settings_change('1', '/style_change')" id="vvw2311323ferererg3g3g3" class="button_settings"></button>
                <button onclick="button_settings_change('0', '/style_change')" id="vvw2311323ferererg3g3g31" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="vwf3c3fcew0823qe2k1" class="settings_main_tetx"></p>
                <br>
                <div class="file-input-wrapper">
                    <label for="file_input_qfEASD" id="f2w311e23qqaaa" class="file-label"></label>
                    <input id="file_input_qfEASD" type="file" accept=".css" class="file-input">
                    <span id="file_name" class="file-name"></span>
                </div>
                <button onclick="install_style()" id="vwf3c3fcew0823qe2k2" class="button_settings"></button>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="hrf23rffwevvv" class="settings_main_tetx"></p> <p id="ihnion32dfw444"></p>
                <br><br>
                <button id="del_buttton_s" onclick="del_temp()" class="button_settings bg_main_del"></button>
                <br><br>
            </div>
            <!-- <div class="settings_div">
                <p id="iirjr3246yyu7" class="settings_main_tetx"></p>
                <br>
                <div id="instale_nm"></div>
                <br><br>
            </div>
            <div class="settings_div">
                <p id="r234t567uthgfbvc" class="settings_main_tetx"></p>
                <br>
                <div id="uninstale_nm"></div>
                <br><br>
            </div> -->
        </div>
        <div id="section_2">
            <div class="imfowdwqdd">
                <div class="padoge">
                    <img class="img_setting" src="/static/img/9.png">
                    <br><br>
                    <p><unix id="setting_e12rfwvsd"></unix> = <span class="main_color" id="version_my_qwfesd"></span></p>
                    <p><unix id="settings_oio3fq"></unix> = <span class="main_color" id="version_server_qwfesd"></span></p>
                    <br>
                    <p>server_file = <span class="main_color" id="server_1"></span></p>
                    <p>server_register = <span class="main_color" id="server_2"></span></p>
                    <br>
                    <p id="settings_q23fweds551"></p>
                    <br><br>
                    <p id="u32f2ho33ffff"></p>
                    <br>
                    <div class="div_uf2432gggg" id="div_install_module"></div>                    
                    <br><br>
                    <p id="u32f2ho33ffff1"></p>
                    <br>
                    <div class="div_uf2432gggg" id="div_uinstall_module"></div>
                    <br><br>
                    <p id="u32f2ho33ffff1233"></p>
                    <br>
                    <div class="div_uf2432gggg" id="div_start_now_module"></div>
                    <br><br>
                    <button onclick="reload_model()" id="reload_model" class="button_settings"></button>
                    <button onclick="updata_app()" id="updata_b" class="button_settings"></button>
                    <br><br>
                </div>
            </div>
        </div>
        <div id="section_3">
            <div id="section_2">
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <div id="settings13qwas"></div>
                        <br>
                        <button class="dqw21fvvvv iiiiqwdas" id="settings_3qecdstrh" onclick="log_out()"></button>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <!-- modal -->
        <div id="modal1"> 
            <div id="modal-content">
                <p class="load_title" id="modla_install_32ffff"></p>
                <div class="load_animat_div">
                    <div class="div_animation"></div>
                    <div class="div_animation1"></div>
                    <div class="div_animation2"></div>
                    <div class="div_animation3"></div>
                </div>
            </div>
        </div>

        <div id="modal2"> 
            <div id="modal-content1">
                <p class="load_title" id="modla_install_32ffff32131"></p>
                <br>
                <p id="hrf29r32fvvvvvw2ed12"></p>
                <p id="url_site_doc" class="url_site" onclick="open_url()"></p>
                <div class="d23rrf3wecccc_d33">
                    <button onclick="clos('modal2')" class="install_dwfe3 vv390gh3ggg"></button>
                    <button onclick="install_module_func()" class="install_dwfe3" id="i2332fn23"></button>
                </div>
            </div>
        </div>
        
        <div id="modal3"> 
            <div id="modal-content1">
                <p class="load_title" id="modla_install_32f23dd2"></p>
                <br>
                <br>
                <br>
                <p id="url_site_doc1" class="url_site" onclick="open_url()"></p>
                <div class="d23rrf3wecccc_d33">
                    <button onclick="clos('modal3')" class="install_dwfe3 vv390gh3ggg"></button>
                    <button onclick="uinstall_module_func()" class="install_dwfe3" id="i2332fn231"></button>
                </div>
            </div>
        </div>

        <div id="modal4"> 
            <div id="modal-content1">
                <p class="load_title" id="modal_infod232f3vvv"></p>
                <br>
                <br>
                <p class="info_module2333">Name = <span id="fk2f224444_32r2"></span></p>
                <p class="info_module2333">Pid = <span id="fk2f224444_32r"></span></p>
                <p class="info_module2333">Port = <span id="fk2f224444_32r1"></span></p>
                <br>
                <div class="d23rrf3wecccc_d33">
                    <button onclick="clos('modal4')" class="install_dwfe3 vv390gh3ggg"></button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/jquery.min.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/page/lang.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/page/settings.js"></script>
<script>
    change_lang_now();
    
    getConfig();
    change_menu_page(0, 0);
    get_my_version();
    get_server_version();
    info_server();
    get_data_reg();
    get_status_reg_settings();
    accses_updata();
    get_all_render_module();
    // get_info_installed();
    // render_uninstall_NM();

    // check_NM();

    const divs = [
      document.querySelector('.div_animation'),
      document.querySelector('.div_animation1'),
      document.querySelector('.div_animation2'),
      document.querySelector('.div_animation3'),
    ];

    let current = 0;
    setInterval(() => {
        if (animation) {
            divs.forEach(div => div.style.backgroundColor = '#181822');
            divs[current].style.backgroundColor = '#68ff9d';
            current = (current + 1) % divs.length;
        }
    }, 1000);
</script>
</html>
