<div class="menu">
    <br><br><br>
    <img class="ede33fff" src="/static/img/9.png">
    <br><br>
    <div>
        <a href="/wifi"><div id="btn1" class="button"><img src="/static/img/4.png"><p>WIFI</p></div></a>
        <a href="/system"><div id="btn2" class="button"><img src="/static/img/6.png"><p>Система</p></div></a>
        <a href="/antivirus"><div id="btn3" class="button"><img src="/static/img/7.png"><p>Антивірус</p></div></a>
        <a href="/cleaning"><div id="btn4" class="button"><img src="/static/img/8.png"><p>Очищення</p></div></a>
        <a href="/encryption"><div id="btn5" class="button"><img src="/static/img/11.png"><p>Шифрування</p></div></a>
        <br><br>
        <a href="/settings"><div id="btn6" class="button1"><img src="/static/img/3.png"><p>Налаштування</p></div></a>
        <a href="/about"><div id="btn7" class="button1"><img src="/static/img/2.png"><p>Про програму</p></div></a>
        <a href="/browser_site_app"><div id="btn8" class="button1"><img src="/static/img/5.png"><p>Сайт</p></div></a>
        <a href="/off_app"><div id="btn9" class="button2"><img src="/static/img/10.png"><p>Закрити програму</p></div></a>
    </div>
</div> 