// core\web\static\prefab\scss\mixin.scss

@use 'config';

@mixin text_decoration($thickness: 2px, $offset: 4px) {
    text-decoration: underline;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;
}
