@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    background-color: #17181f;
    font-family: "Pixelify Sans", sans-serif;
    color: #ffffffd4;
    overflow-y: hidden;
    overflow-x: hidden;
}

a{color: #ffffffd4;}

.sin{
    color: #ffffff00;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

.console{
    position: absolute;
    float: right;
    height: 200px;
    bottom: 10px;
    right: 10px;
    width: calc(100% - 400px);
    background-color: #232431;
    padding: 10px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: auto;
    display: none;
}