<!-- app_front_end/templates/index.html -->

<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>SPX</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <style id="style_dudqdc"></style>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <div class="ump_textw">
        <p class="cursor typewriter-animation">Security hub</p>
    </div>
</body>
<script src="/static/jquery.min.js"></script>
<script src="/static/js/lang_main.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/index.js"></script>
<script>
    setTimeout(() => {
        render_main_start();
    }, 3000);
</script> 
</html>