<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
       <style id="style_dudqdc"></style>
   </head>
   <body>
        <div class="main_div">
            <br>
            <p id="pasw_fwefc2dewsd" class="name_page"># <span></span></p>
            <p id="pasw_dwqvnbb455" class="description_page"></p>
            <br>
            <div class="fewfedddd">
                <div onclick="change_menu_page(5, 0)" id="pasword_1_btn_page" class="dwqdwcccc2"></div>
                <div onclick="change_menu_page(5, 1)" id="pasword_1_btn_page1" class="dwqdwcccc2"></div>
            </div>
            <br>
            <div id="section_1">
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <h2 id="pasw_deqfwre"></h2>
                        <br>
                        <div class="form-container">
                            <label for="passwordLength" class="form-label" id="pasw_pou823rd"></label>
                            <input type="number" id="passwordLength" min="4" max="20" value="12" class="unixwqc"><br>
                        
                            <label for="uppercase" class="form-label" id="pasw_o218dqafghh"></label>
                            <input type="checkbox" id="uppercase" checked class="form-checkbox unico_dqwcas"><br>
                        
                            <label for="numbers" class="form-label" id="pasw_dq323fh9vvv"></label>
                            <input type="checkbox" id="numbers" checked class="form-checkbox unico_dqwcas"><br>
                        
                            <label for="specialChars" class="form-label" id="pasw_o290rf323f"></label>
                            <input type="checkbox" id="specialChars" checked class="form-checkbox unico_dqwcas"><br><br>
                        </div>
                        
                        <p class="passw_wqdsc" id="pasw_dkq30f3q23r"><span></span></p>
                        <br>
                        <button class="button_settings" onclick="generatePassword()" id="pasw_p00o1edcc"></button>
                        <br><br>
                    </div>
                </div>
            </div>
            <div id="section_2">
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <h2 id="pasw_ok2f3web"></h2>
                        <br>
                        <input class="ooo33ff3cv2122" placeholder="Name password" id="password_d1qwasz" type="text">
                        <input class="ooo33ff3cv2122" placeholder="Password" id="password_d1qwasz1" type="text">
                        <button class="dqw21fvvvv" id="pasw_d3vnb4354" onclick="add_key_pasw()"></button>
                    </div>
                </div>
                <div class="imfowdwqdd">
                    <div class="padoge">
                        <div id="pasw_pkjnf2qewvsd"></div>
                    </div>
                </div>
            </div>
        </div>
   </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/password.js"></script>
    <script>
        change_menu_page(5, 0);

        change_lang_now(0);
        get_status_reg_hide_pasw();
        get_key_reg();
    </script>
</html> 

