<html style="height: 100%"></html>
   <head>
       <meta charset="utf-8">
       <title>SPX</title>
       <link rel="stylesheet" href="/static/css/main.css"/>
       <link rel="stylesheet" href="/static/css/global.css"/>
       <style id="style_dudqdc"></style>
   </head>
   <body>
        <div class="main_div">
           <div class="reg_div_main">
            <div class="padoge">
                <div id="sect_1">
                    <div id="module_1">
                        <p class="register_top_text main_color" id="segister_Poif83g"></p>
                        <br>
                        <p id="register_pfj3fv"></p>
                        <br>
                        <input type="text" class="saert45trgf bottom" id="register_name" placeholder="Name">
                        <br>
                        <input type="text" class="saert45trgf bottom" id="register_gmail" placeholder="Gimail">
                        <br>
                        <input type="text" class="saert45trgf bottom" id="register_password" placeholder="Password">
                        <br><br>
                        <button class="zxbnmewd1 register_f2qewds" onclick="send_data()"></button>
                        <button class="zxbnmewd1 register_rfrbbbb4" onclick="login_page()"></button>
                    </div>
                    <div id="module_2">
                        <p class="register_top_text main_color" id="segister_Poif83g"></p>
                        <br>
                        <p id="register_pwfew4fv"></p>
                        <br>
                        <input type="text" class="saert45trgf bottom" id="register_code" placeholder="Gimail">
                        <br><br>
                        <button class="zxbnmewd1 register_f2qewds" onclick="send_code()"></button>
                        <button class="zxbnmewd1 register_rfrbbbb4" onclick="login_page()"></button>
                    </div>
                    <div id="module_3">
                        <p class="register_top_text main_color" id="register_o92ufff"></p>
                        <br>
                        <p id="register_pfj3fv1"></p>
                        <br>
                        <input type="text" class="saert45trgf bottom" id="login_name" placeholder="Name">
                        <br>
                        <input type="text" class="saert45trgf bottom" id="login_password" placeholder="Password">
                        <br><br>
                        <button class="zxbnmewd1 register_f2qewds" onclick="login()"></button>
                        <button class="zxbnmewd1 register_pfi02ifv" onclick="reg_page()"></button>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </body>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/page/lang.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/page/register.js"></script>
</html>
