<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Файловий сервер</title>
</head>
<body>
  <div class="padoge">
    <h2>Завантажити файл</h2>
    <div class="file-input-container">
      <input type="file" name="file" id="file" required>
      <label for="file" class="file-input-button">Виберіть файл</label>
    </div>
    <label for="password">Пароль для доступу до файлу:</label>
    <input type="text" name="password" id="password" required>
    <br><br>
    <button type="button" id="submit-btn">Завантажити</button>
  </div>
  <br>
  <div class="padoge">
    <h2>Пошук файлу за паролем</h2>
    <label for="searchPassword">Пароль:</label>
    <input type="text" name="searchPassword" id="searchPassword" required>
    <br><br>
    <button type="button" id="search-btn">Знайти файл</button>
    <div id="searchResult"></div>
  </div>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/js/config.js"></script>
  <script src="/static/js/page/lang.js"></script>
  <script src="/static/js/global.js"></script>
  <script src="/static/js/page/server.js"></script>
</body>
</html>
