<!-- app_front_end/templates/wifi.html -->

<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>SPX</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <style id="style_dudqdc"></style>
</head>
<body>
    <div class="main_div">
        <br>
        <p id="lang_wefsdeeeeee" class="name_page"># <span></span></p>
        <p id="lang_nfefdfdvghyt" class="description_page"></p>
        <br>
        <div class="fewfedddd">
            <div onclick="change_menu_page(1, 0)" id="wifi_0jdccc" class="dwqdwcccc2"></div>
            <div onclick="change_menu_page(1, 1)" id="wifi_0jdccc1" class="dwqdwcccc2"></div>
        </div>
        <br>
        <div id="section_2">
            <div class="imfowdwqdd">
                <div class="padoge">
                    <div id="wifi_data_packege"></div>
                </div>
            </div>
        </div>
        <div id="section_1">
            <div class="wifi_sqd">
                <div class="img_wifi">
                    <div id="chart"></div>
                </div>
                <br>
                <div class="div_wifi_info">
                    <div class="padoge">
                        <div id="info_wifi_div">
                            <p id="lang_dqwedddcwww" class="ed3wed"></p>
                            <div id="wifi_protection"></div>
                            <br>
                            <div id="fweetrfgcvweee"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wifi_all_div">
                <div id="render_all_wifi" class="padoge"></div>
            </div>
        </div>
    </div>
</body>
<script src="/static/jquery.min.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/page/lang.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/page/wifi/info.js"></script>
<script src="/static/js/page/wifi/package.js"></script>
<script src="/static/js/page/schedule.js"></script>
<script>
    change_lang_now(0);
    change_menu_page(1, 0)

    const packageData = new PackageData();
    packageData.getPackageData();

    get_data_wifi_now();
    
    get_data_wifi_all();
    get_data_for_schedule();
    
    setInterval(get_data_wifi_all, 2500);
    setInterval(get_data_for_schedule, 1000);
    setInterval(() => packageData.getPackageData(), 1000);
</script> 
</html>
