<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p class="name_system">Опис</p>
        <br>
        <p class="white">Функції на фоні вмикаються автоматично при запуску</p>
    </div>
</div>
<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p class="name_system">Monitoring flash drives</p>
        <br>
        <p class="white">Це налаштування активує функцію моніторингу USB-носіїв, яка попереджає користувача при підключенні нових флешок. Після ввімкнення цієї функції програма постійно сканує доступні USB-носії і повідомляє про кожен новий пристрій, що підключається.</p>
        <br>
        <p class="white">Встановити cmd команду яка буде запускатись після підключення USB-носія</p>
        <input type="text" id="bg_input" class="input_cmd">
        <br><br>
        <button id="bg_dqwderfd" onclick="new_val_gb_usb()" class="ump_button1">Увімкнути</button>
    </div>
</div>