<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p id="h3ruiwefer24f" class="name_system"></p>
        <br>
        <p id="fewrvw243rgefvcc" class="white"></p>
    </div>
</div>
<br>
<div class="imfowdwqdd">
    <div class="padoge">
        <p id="vbs612dwes655" class="name_system"></p>
        <br>
        <p id="vb92354gu04ttg" class="white"></p>
        <br>
        <p id="bbv612ee3dwe" class="white"></p>
        <input type="text" id="bg_input" class="input_cmd">
        <br><br>
        <button id="bg_dqwderfd" onclick="new_val_gb_usb()" class="ump_button1"></button>
    </div>
</div>