<div class="dfwefwefcvv22">
    <form class="form">
        <label class="form__container" id="upload-container">Select or drop a file<input class="form__file" id="upload-files" type="file" multiple="multiple"/></label>
        <div id="files-list-container"></div>
    </form>
    <div class="parent-container">
        <button id="upload-button" class="wd32we4f"></button>
    </div>
</div>
<div id="f2ewds322r3345trg" class="dwdwffff22">
    <div class="padoge">
        <p id="we332dvc"></p>
        <p id="we332dvc1"></p>
        <br>
        <p id="we332dvc2"></p>
        <p id="we332dvc3"></p>
        <p id="we332dvc4"></p>
        <br>
        <button id="d13dqe021w34fwvqedddd" onclick="download_json_data()" class="ewwdqszx4wefff"></button>
    </div>
</div>