<div class="dfwefwefcvv22">
    <form class="form">
        <label class="form__container" id="upload-container">Виберіть або перекиньте файл<input class="form__file" id="upload-files" type="file" multiple="multiple"/></label>
        <div id="files-list-container"></div>
    </form>
    <div class="parent-container">
        <button id="upload-button" class="wd32we4f">Швидка перевірка</button>
        <button id="upload-button1" class="wd32we4f">Детальна превірка</button>
    </div>
</div>
<div id="we332dvc" class="dwdwffff22 padoge"></div>