.menu {
  position: fixed;
  width: 260px;
  height: 100%;
  background-color: #1d1e27; }

.div_img {
  position: relative;
  top: 10px;
  left: 20px; }

.ddqwdqwd {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  color: #506aff;
  background-color: #121318;
  height: 45px; }
  .ddqwdqwd p {
    position: relative;
    text-align: center;
    top: 10px; }

.wdwdqc {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #17181f;
  float: left;
  margin-right: 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s; }
  .wdwdqc:hover {
    opacity: 0.5; }

.menu_bottom {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background-color: #121318; }

.img_menu {
  position: relative;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.button {
  position: relative;
  width: 100%;
  height: 50px;
  left: 0%;
  transition: all .3s;
  cursor: pointer;
  color: #ffffffd4; }
  .button p {
    position: relative;
    font-weight: bold;
    left: 19px;
    font-size: 18px;
    top: 15px; }
  .button:hover {
    background-color: #17181f;
    color: #506aff; }
  .button img {
    height: 27px;
    position: relative;
    float: left;
    left: 10px;
    top: 10px; }

.main {
  position: fixed;
  left: 270px;
  top: 10px;
  height: calc(100% - 10px);
  width: calc(100% - 270px); }

.main_div {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  position: relative;
  width: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: auto; }

#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6,
#modal7,
#modal8,
#modal9,
#modal10,
#modal11,
#modal12,
#modal13,
#modal14,
#modal15,
#modal16,
#modal17 {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content1 {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 20%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #17181f; }

.modal-content2 {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #17181f; }

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
  position: relative;
  top: -10px;
  z-index: 1000; }

.close:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ff5c5c; }

.console::-webkit-scrollbar,
.main_div::-webkit-scrollbar,
.about_div::-webkit-scrollbar,
.div_wifi_info::-webkit-scrollbar {
  width: 11px;
  background-color: #17181f; }

.console::-webkit-scrollbar-thumb,
.main_div::-webkit-scrollbar-thumb,
.about_div::-webkit-scrollbar-thumb,
.div_wifi_info::-webkit-scrollbar-thumb {
  background-color: #23252e; }

.modal_rev_button_d {
  color: #ff5c5c; }

/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
/* index page */
.wifi_main_content {
  position: absolute;
  left: 390px; }

.wifi_3_div {
  color: #506aff; }

.wifi_3_div,
.wifi_3_div_red {
  color: #506aff;
  font-weight: bold; }

.wifi_3_div_red {
  color: #ff5c5c; }

.main_text_wifi {
  font-size: 40px;
  color: #54fea6;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.img_wifi {
  position: relative;
  width: 100%;
  background-color: #1e202a;
  height: 340px;
  border-radius: 5px; }

.div_wifi_info {
  position: relative;
  width: 100%;
  background-color: #111218;
  height: calc(100% - 440px);
  overflow: auto;
  border-radius: 5px; }

.padoge {
  padding: 20px; }

.info_wifi_ {
  font-weight: bold;
  font-size: 16px;
  color: #506aff; }

.info_graan {
  position: absolute;
  left: 230px;
  font-weight: normal;
  color: #54fea6;
  font-size: 16px; }

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%; }

.container * {
  box-sizing: border-box;
  user-select: none; }

.signal {
  width: 110px;
  height: 110px;
  margin: auto;
  position: relative;
  overflow: hidden;
  transform: rotate(45deg) scale(2);
  margin-bottom: 100px; }

.curveOne1,
.curveOne2 {
  border-radius: 50%;
  position: absolute;
  width: 200%;
  height: 200%; }

.curveOne1,
.curveTwo1,
.curveThree1,
.curveFour1 {
  border: 13px solid #54fea6; }

.curveOne2,
.curveTwo2,
.curveThree2,
.curveFour2 {
  border: 13px solid #252831; }

.curveTwo1,
.curveTwo2 {
  border-radius: 50%;
  position: absolute;
  right: 0%;
  bottom: 0;
  transform: translate(50%, 50%);
  width: 150%;
  height: 150%; }

.curveThree1,
.curveThree2 {
  border-radius: 50%;
  position: absolute;
  right: 0%;
  width: 100%;
  transform: translate(50%, 50%);
  height: 100%; }

.curveFour1,
.curveFour2 {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  height: 50%;
  right: 0%;
  width: 50%;
  transform: translate(50%, 50%); }

.curveFour1 {
  background-color: #54fea6; }

.curveFour2 {
  background-color: #54fea6; }

.wifi_sqd {
  position: relative;
  float: left;
  width: calc(100% - 450px); }

.wifi_all_div {
  position: relative;
  float: right;
  background-color: #111218;
  width: 440px;
  left: 10px;
  height: 100%;
  overflow-y: auto;
  border-radius: 5px; }

.div_wifi_all {
  font-weight: bold;
  position: relative;
  top: -20px;
  margin-top: 20px;
  width: 100%;
  height: 35px;
  background-color: #1e202a;
  border: solid 2px #ffffff00;
  cursor: pointer;
  transition: all .3s;
  border-radius: 5px; }
  .div_wifi_all:hover {
    border: solid 2px #506aff; }

.name_wifi_div_all {
  position: relative;
  font-size: 16px;
  color: #506aff;
  top: 8px;
  left: 10px;
  float: left; }

.right_left_signal {
  position: relative;
  font-size: 15px;
  color: #54fea6;
  top: 9px;
  left: -10px;
  float: right; }

.border_active_grran {
  border: solid 2px #54fea6; }

/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
/* settings page */
.settings_main_tetx {
  font-size: 19px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  color: #506aff; }

.settings_div {
  position: relative;
  margin-bottom: 20px;
  background-color: #111218;
  padding: 10px; }

.button_settings {
  position: relative;
  float: left;
  margin-left: 10px;
  left: -10px;
  border: none;
  padding: 6px;
  background-color: #17181f;
  color: #ffffffd4;
  font-size: 15px; }

.button_settings:hover,
.button_settings_one:hover {
  cursor: pointer;
  opacity: 0.5; }

.button_settings_one {
  position: relative;
  border: none;
  padding: 6px;
  background-color: #17181f;
  color: #ffffffd4;
  font-size: 15px; }

/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
.about_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #111218;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px; }

.about_tetx_main {
  position: relative;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  color: #506aff; }

/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
/* system page */
.system_div_os {
  position: relative;
  width: 500px;
  height: 370px;
  border-radius: 10px;
  background-color: #1e202a; }

.img_os {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: auto; }

.div_system_info {
  position: relative;
  background-color: #111218;
  width: 500px;
  height: 100vh;
  overflow-y: auto;
  border-radius: 10px;
  top: 10px; }

.wddxxq {
  position: relative;
  float: left; }

.imfowdwqdd {
  position: relative;
  background-color: #111218;
  width: calc(100% - 510px);
  height: 100%;
  left: 10px;
  overflow-y: auto;
  border-radius: 10px;
  float: right; }
