<div class="menu">
    <div class="ddqwdqwd"><p>Security Hub</p></div>
    <div>
        <a href="/"><div id="btn1" class="button"><img src="/static/img/4.png"><p>WIFI інформація</p></div></a>
        <a href="/system"><div id="btn2" class="button"><img src="/static/img/6.png"><p>Система</p></div></a>
        <a href=""><div id="btn3" class="button"><img src="/static/img/7.png"><p>Антивірус</p></div></a>
        <a href=""><div id="btn4" class="button"><img src="/static/img/4.png"><p>Шифрування</p></div></a>
        <a href="/settings"><div id="btn5" class="button"><p>Налаштування</p></div></a>
        <a href="/about"><div id="btn6" class="button"><p>Про програму</p></div></a>
    </div>
    <div class="menu_bottom">
        <div class="div_img">
            <div class="wdwdqc"><img class="img_menu" src="/static/img/2.png"></div>
            <div class="wdwdqc"><img class="img_menu" src="/static/img/3.png"></div>
            <div class="wdwdqc"><img class="img_menu" src="/static/img/5.png"></div>
        </div>
    </div>
</div>