$orange: #ff8a2a;
$read: #ff5c5c;
$blue: #506aff;
$main_color: #81a6c7;
$white: #fff;
$grean: #55c959;

$bg_color: #181822;
$bg_color1: #22222e;
$bg_color2: #2b2b37;
$bg_color3: #373745;

$colgroup: rgb(24, 24, 34);

$null: #ffffff00;
$text_color: #ffffffa5;
$null_bleck: rgba(0, 0, 0, 0.3);