@import 'config';

@font-face {
    font-family: 'MyCustomFont';
    src: url('../Minecraft_1.1.ttf') format('truetype');
}

body {
    background-color: $bg_color;
    font-family: 'MyCustomFont', sans-serif;
    color: $white;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 15px;
}

a {color: $white;}
.white {color: $white;}
.sin {color: $null;}
h2{color:$white}
label{color: $white;}
.main_color{color: $main_color}

* {
    margin: 0;
    padding: 0;
    font-family: 'MyCustomFont', sans-serif;
}

a {
    color: $white;
    text-decoration: none;
}

.console{
    position: absolute;
    float: right;
    height: 200px;
    bottom: 10px;
    right: 10px;
    width: calc(100% - 400px);
    background-color: $bg_color1;
    padding: 10px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: auto;
    display: none;
}

.name_page{
    font-size: 18px;
    color: $main_color;

    span {color: $white;}
}

.description_page{
    font-size: 15px;
    color: $white;
    opacity: 0.7;
}

.grean_1{color: $grean;}
.read{color: $read;}

.no_select_o * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fon_16{font-size: 18px;}