@use 'config';

@mixin curveTwo($width, $height) {
    border-radius: 50%;
    position: absolute;
    right: 0%;
    transform: translate(50%, 50%);
    bottom: 0;
    width: $width;
    height: $height;
}

@mixin button($color, $background, $font) {
    border: none;
    padding: 7px;
    background-color: $background;
    color: $color;
    font-size: $font;
    transition: all .3s;
    border: solid 2px $null;
    cursor: pointer;
}